header {
    background-color: #9cd6f4;
    padding-left: 16px;
    padding-bottom: 30px;
    padding-top: 30px;
}

header .logo {
    width: 15%;
}

body {
    margin: 0;
}

main {
    padding: 30px 16px;
}

.gray {
    color: gray;
}

.blue {
    color: #9cd6f4;
}

.touch {
    padding-top: 0;
    padding-bottom: 0;
}

.list {
    padding: 16px;
}

.table-heading {
    background-color: #7fa6fb;
    color: white;
}

.table-head-cell {
    padding-left: 0;
}

.table-line {
    background-color: #dfe5f2;
}

.table-middle-line {
    background-color: ffffff;
}

.space {
    padding-right: 50px;
}